{% import 'macros.htm' as macros %}

{{ macros.header() }}
{{ macros.topmatter() }}
	<div width="50%" class="left">
		<ul>
		<li>Inspiration:
			<ul>
				<li><a href="http://xkcd.com/458/">XKCD on kissing</a> (<a href="/memepie.htm?meme=I+*+have+kissed+her">results</a>)</li>
				<li><a href="http://xkcd.com/369/">XKCD on accidents</a> (<a href="/memepie.htm?meme=died+in+a+*+accident">results</a>)</li>


			</ul>
		</li>
		<li>Ingredients:
			<ul>
			<li><a href="http://www.heroku.com/">Heroku</a></li>
			<li><a href="http://www.python.org/">Python</a></li>
			<li><a href="http://flask.pocoo.org/">Flask</a></li>
			<li><a href="http://jinja.pocoo.org/">Jinja</a></li>
			<li><a href="https://dev.twitter.com/docs/using-search">Twitter Search API</a></li>
			<li><a href="https://developers.google.com/chart/">Google Chart Tools</a></li>
			</ul>
		</li>
		<li>Thanks:
			<ul>
			<li><a href="http://sleepygeek.org/">Python help</a></li>
			<li><a href="http://www.simwebsol.com/ImageTool/">Free logo</a></li>
			</ul>
		</li>
		<li>Contact:
			<ul>
			<li><script language="javascript">

</script></li>
			<li><a href="http://twitter.com/tangentmonger">Twitter</a></li>
			</ul>
		</li>
		</ul>
		

		
	</div>
</body>
</html>
